body {
    font-family: "Lato";
    color: #172b4d;
    background-color: #f5f5f5;
    display: flex;
    align-items: start;
}

div {
    border-radius: 3px;
}

#main {
    display: flex;
    align-items: start;
}

.title {
    font-weight: 600;
    color: white;
}

.editable {
    user-select: none;
    outline: none;
    margin: 7px;
    padding: 10px;
    cursor: pointer !important;
    display: flex;
    justify-content: space-between;
}

.editing {
    background: white;
    color: #172b4d !important;
    box-shadow: inset 0px 0px 0px 2px #0279bf;
}

.editing:hover {
    background: white !important;
}

.card {
    background: white;
    border-bottom: 1px solid #aaa;
    border-left: 6px solid orange;
}

.list {
    /*   padding: 7px; */
    min-width: 280px;
    margin: 10px 5px;
    position: relative;
    /*background: #dfe1e6;*/
    background-color: #205081;
}

.add-list {
    min-width: 280px;
    margin: 10px 5px;
    position: relative;
    background: rgba(0, 0, 0, .12);
    color: hsla(0, 0%, 100%, .8);
}

.ghost {
    opacity: .1;
    color: #000;
    background-color: #000;
}

.add-card {
    width: calc(100% - 35px);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin-top: 0px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    /*   border-bottom: 1px solid #dfe1e6; */
}

.add {
    margin-left: 5px;
}

.add-card:hover {
    background-color: rgba(9, 30, 66, .13);
}

.del {
    font-weight: 600;
    color: gray;
}

.card-layout {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.top,
.mid,
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task-type {
    color: #4BADE8;
}

.user {
    font-size: 35px;
    color: #435f91;
}

.epic,
.task-description {
    margin-left: 25px;
    margin-right: 25px;
}

.epic {
    color: white;
    padding: 1px 8px;
    font-size: 14px;
}

.estimate-time {
    font-size: 14px;
    padding: 1px 4px;
    background-color: #cccccc;
    border-radius: 100%;
}

.epic-blue {
    background-color: #4A6785;
}

.epic-orange {
    background-color: #F79232;
}

.list-purple {
    background-color: #8621bf;
}

.list-red {
    background-color: #a71919;
}

.list-orange {
    background-color: #c96828;
}

.list-blue {
    background-color: #326aa1;
}

.list-green {
    background-color: #51a569;
}

.list-cyan {
    background-color: #509cb1;
}